.contenant-budget{
  margin-top: 30px;

}

.campaign-title{
  flex: 0 0 40%;
  margin: inherit;
  color: #55A1F4;
  font-weight: bold;
  text-align: right;
}

.campaign-budget {
  margin-right: 35px;
  color: #55A1F4;

}

#weather-style {
  font-weight: bold;
  color: $blue;
}
