<div class="banner">
  <div class="banner-content">
    <ul class = list-inline>
      <li><h1>Weazr</h1></li>
      <li><h2>Forecast your</h2></li>
      <li><h3>Facebook</h3></li>
      <li><h2>Ads</h2></li>
      <li><h1><i class="em em-smiley"></i></h1></li>
    </ul>


    <p class="bold">
      <span id="banner-typed-text"></span>
    </p>
    <div class="input-group col-md-6 col-md-offset-3">
        <%= link_to "Test Your Weather Sensitiveness", new_user_registration_path,:class => 'btn button' %>
    </div>
  </div>
</div>
