<div class="banner">
  <div class="banner-content">
    <h1>70% of the global economy is weather sensitive</h1>
    <p class="bold">
      <span id="banner-typed-text"></span>
    </p>
    <div class="input-group col-md-4 col-md-offset-4">
        <button class="btn btn-white">And you are you weather sensitive?</button>
    </div>
  </div>
</div>
