<div class="banner">
  <div class="banner-content">
    <h1>70% of the global economy is weather sensitive <i class="em em-smiley"></i></h1>
    <p class="bold">
      <span id="banner-typed-text"></span>
    </p>
    <div class="input-group col-md-4 col-md-offset-4">
        <%= link_to "Test Your Weather Sensitiveness", new_user_registration_path,:class => 'btn button draw-border-red' %>
    </div>
  </div>
</div>
