

<div id="myCarousel" class="carousel slide" data-ride="carousel">



    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

        <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <div class="carousel-caption">
            <h2></h3>
            <%= link_to image_tag("deliveroo.png", width: 250), root_path %>
          </div>
        </div>
        <div class="item">
            <div class="carousel-caption ">
              <h2></h3>
              <%= link_to image_tag("uber.png", width: 250), root_path %>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
              <h2></h3>
              <%= link_to image_tag("foodora.png", width: 250), root_path %>
            </div>
        </div>
      </div>

    </div>

</div>



<!-- END CAROUSEL -->
