<div class="sub">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="wrapper">
        <input id="email" type="text" value="Your email address..." onclick="if (this.defaultValue==this.value) this.value=''" onblur="if (this.value=='') this.value=this.defaultValue" />

      </div>

      <div class="divo">
      <button class="btn draw-border-red">Subscribe</button>
      </div>
    </div>
  </div>
</div>
