<div class="sub">
  <div class="wrapper">
    <input id="email" type="text" value="Your email address..." onclick="if (this.defaultValue==this.value) this.value=''" onblur="if (this.value=='') this.value=this.defaultValue" />

  </div>

  <div>
  <button class="btn draw-border-red">Subscribe</button>
  </div>
</div>
