<section class="intro">
  <div class="container-intro">
    <h1 class="cta">1#st case&darr;</h1>
    <br>
    <h2 class="cta">Food delivery market</h2>
  </div>
</section>

<section class="timeline">
  <ul>
    <li>
      <div>
        <time>Cross datas</time> Our scientists and our AI technology are both crossing hundreds of business datas (food delivery) with weather forecast.
      </div>
    </li>
    <li>
      <div>
        <time>Generation of impact models</time> We are able now to generate your weather sensitive schedule
      </div>
    </li>
    <li>
      <div>
        <time>Control your communication</time> All food delivery business can organise thier communication one week beofre
      </div>
    </li>
    <li>
      <div>
        <time>Setup campaigns</time> You can setup your campaigns and give a budget to your weekly communication
      </div>
    </li>
    <li>
      <div>
        <time>Increase your ROI</time> 300 % ... is the average of your futur ROI
      </div>
    </li>
  </ul>
</section>
