.campaign {
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;

  height: calc(100vh - 70px);
  padding: 30px;
}
.campaign .main-camp {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}

.campaign .start-end {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}

.campaign .budget {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}

.campaign .edit {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

.campaign .destroy {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.campaign .see-all {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
}

.campaigns-stat-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 145px 0 145px;
  background: $blue;
}

.metrics-block {
  margin: 20px;
  display: flex;
  align-items: flex-end;
  font-family: Raileway;
  color: white;
  font-weight: 300;
}

.campaigns-metrics-numbers p {
  font-size: 32px;
  font-weight: 300;
  margin-right: 5px;
}

.campaigns-metrics-label p {
  font-size: 24px;
}

.main-camp, .stat-content-bis {
  background: white;
  box-shadow: 0 1px 6px #DBDBDB;
  padding: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 940px) {
  .campaign {
    display: block;
  }
}

/* Fonts and colors */
.campaign h2 {
  font-size: 28px;
}
.campaign h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.campaign p {
  color: rgba(0,0,0,0.6);
}

.stat-camp h3 {
  color: $purple;
  font-size: 28px;
}
.stat-camp p {
  color: rgba(0,0,0,0.25);
  font-size: 19px;
}

.stat2-camp   h3 {
  color: $purple;
  font-size: 28px;
}
.stat2-camp   p {
  color: rgba(0,0,0,0.25);
  font-size: 19px;
}

.description-camp h3 {
  color: $purple;
  font-size: 21px;
  font-weight: normal;
}
.description-camp p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
}
.fb-more {
  width: 360px;
  height: 480px;
  background: white;
  // box-shadow: 2px 2px 3px gray;
  border: solid 2px $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
