.carousel{
    background: white;
    margin-top: 20px;
    color: #30346A;

}

.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
    margin-bottom: 46px;
}

.carousel-caption h2 {
  color: red;
  margin-bottom: 30px;
}

.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */

}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
  background-color: white;

}

