.fb-container {
  background-color: #FFFFFF;
  width: 494px;
  margin:0 auto;
  display: block;
}

.fb-subcontainer {
  background-color: #FFFFFF;
  width: 494px;
  padding: 12px;
  display: block;
}

.fb-upper {
  height: 46px;
  margin-right: 8px;
  padding-bottom: 3px;
  display: flex;
}

.fb-company-logo-container {
  width: 46px;
}

.fb-company-logo {
  height: 40px;
  width: 40px;
  border: 1px solid #E9EBEE;
  border-radius: 20px;
}

.fb-upper-text {
  display: flex;
  justify-content: flex-start;
  align-item: flex-start;
  flex-direction: column
}

.fb-company-name {
  color: #365899;
  font-size: 14px;
  cursor: pointer;
}

.fb-time {
  color: #D3D3D3;
  font-size: 12px;
}

.fb-btn {
  width: 120px;
}
