.fb-add {
  width: 360px;
  height: 447px;
  background: white;
  box-shadow: 0 2px 4px gray;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  position: relative;
}

.fb-add-2 {
  width: 360px;
  height: 480px;
  background: white;
  box-shadow: 0 2px 4px gray;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 167px;
  margin-top: 50px;
  position: fixed;

}

.fb-add p, .fb-add h2{
  color: black;
}

.logo-company-1 {
  position: absolute;
  left: 12px;
  top: 13px;
  width: 40px;
  font-size: 14px;
  height: 40px;
}

.marque {
  position: absolute;
  left: 61px;
  top: -12px;
  color: #3B5998;
  font-size: 14px;
  font-weight: bold;
}

.sponsor {
  position: absolute;
  left: 62px;
  top: 39px;
  color: #9197A3;
  font-size: 12px;
}

.title {
  position: absolute;
  left: 12px;
  top: 65px;
  width: 299px;
  height: 17px;
  font-size: 14px;
}

.pic {
  position: absolute;
  left: 0px;
  top: 82px;
  padding: 10px;
  background-size: cover !important;
  background-position: center;
}

.pic-empty {
  position: absolute;
  left: 10px;
  top: 86px;

  background-size: cover !important;
  background-position: center;
}

.title-un-pic1 {
  position: absolute;
  left: 12px;
  top: 260px;
  font-size: 18px;
}

.p-un-pic {
  position: absolute;
  left: 12px;
  top: 320px;
  font-size: 12px;
}

.website {
  position: absolute;
  left: 12px;
  top: 429px;
  font-size: 12px;
  color: #9197A3;
}

.counts {
  position: absolute;
  left: 12px;
  top: 410px;
  font-size: 12px;
  color: #9197A3;
}

.interaction-bar {
  position: absolute;
  left: 12px;
  top: 410px;
  font-size: 12px;
  font-weight: bold;
  color: #7F7F7F;
}

.bouton1 {
  @include btn-border-drawing(#fa7867, #ffe593, 2px, bottom, right);
  border: 8px solid transparent;
  padding: 8px;
  font-size: 12px;
}

.bouton2 {
  position: absolute;
  left: 250px;
  top: 190px;
  @include btn-border-drawing(#fa7867, #ffe593, 2px, bottom, right);
  border: 8px solid transparent;
  padding: 8px;
  font-size: 12px;
}

.plus {
  margin: 100px
}

//////////////////////

.fb-add-mini {
  width: auto;
  height: 385px;
  background: white;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.logo-company-1-mini {
  position: absolute;
  left: 12px;
  top: 13px;
  width: 40px;
  font-size: 14px;
  height: 40px;
}

.marque-mini {
  position: absolute;
  left: 61px;
  top: -12px;
  color: #3B5998;
  font-size: 14px;
  font-weight: bold;
}

.sponsor-mini {
  position: absolute;
  left: 62px;
  top: 39px;
  color: #9197A3;
  font-size: 12px;
}

.title-mini {
  position: absolute;
  left: 12px;
  top: 65px;
  width: 299px;
  height: 17px;
  font-size: 14px;
}

.pic-mini {
  position: absolute;
  left: 15px;
  top: 92px;
  background-size: cover !important;
  background-position: center;
}

.title-un-pic1-mini {
  position: absolute;
  left: 12px;
  top: 226px;
  font-size: 18px;
}

.p-un-pic-mini {
  position: absolute;
  left: 12px;
  top: 269px;
  font-size: 12px;
  text-align: justify;
  padding-right: 20px;

}



.website-mini {
  position: absolute;
  left: 12px;
  top: 313px;
  font-size: 12px;
  color: #9197A3;
}

.counts-mini {
  position: absolute;
  left: 12px;
  top: 358px;
  font-size: 12px;
  color: #9197A3;
}

.interaction-bar-mini {
  position: absolute;
  left: 12px;
  top: 360px;
  font-size: 12px;
  font-weight: bold;
  color: #7F7F7F;
}

.actions {
  position: absolute;
  top: 396px;
  right: 10px;
}

