

.mint {
  background: #43CAA5;
}

.cta-colour {
  font-family: Apercu-Bold;
  font-size: 34px;
  line-height: 40px;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
  color: white;
  -webkit-transition: all .2s;
  transition: all .2s;
  box-shadow: inset 0px -14px 0px 0px #32A485;
  &.v1:hover {
    box-shadow: inset 0px -4px 0px 0px #32A485;
  }
  &.v2:hover {
    box-shadow: inset 0px -4px 0px 0px #000;
  }
  &.v3:hover {
    box-shadow: inset 0px -40px 0px 0px #32A485;
  }
  &.v4:hover {
    color: white;
    box-shadow: inset 0px -40px 0px 0px #000;
  }
}

.cta-white {
  font-family: Apercu-Bold;
  font-size: 34px;
  line-height: 40px;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
  color: rgba(0,0,0,0.88);
  -webkit-transition: all .2s;
  transition: all .2s;
  box-shadow: inset 0px -14px 0px 0px #31F3C7;
  &.v1:hover {
    box-shadow: inset 0px -4px 0px 0px #31F3C7;
  }
  &.v2:hover {
    box-shadow: inset 0px -4px 0px 0px #000;
  }
  &.v3:hover {
    box-shadow: inset 0px -40px 0px 0px #31F3C7;
  }
  &.v4:hover {
    color: white;
    box-shadow: inset 0px -40px 0px 0px #000;
  }
}

// .cta h4 {
//   font-family: Apercu, Arial;
//   font-size: 34px;
//   line-height: 40px;
//   display: inline;
//   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA6CAMAAABGdsPVAAAABlBMVEUx88f///+O8bfnAAAAEElEQVQI12NkpCJgQIM4AAAZ9gBtX91pHAAAAABJRU5ErkJggg==) center;
// }


.cta-header {
  font-family: Apercu-Bold;
  font-size: 24px;
  line-height: 40px;
  display: inline;
  text-decoration: none;

  -webkit-transition: all .3s;
  transition: all .3s;
  background-size: 100%;
  // background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9%, #5fcdf5 9%, #5fcdf5, #5fcdf5 32%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0));
  // background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9%, #5fcdf5 9%, #5fcdf5, #5fcdf5 32%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9%, #31F3C7 9%, #31F3C7, #31F3C7 32%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0));

}


.cta-header-no-size {
  font-family: Apercu-Bold;
  line-height: 40px;
  display: inline;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 50px;
  font-size: 38px;
  background-size: 100%;
  // background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9%, #5fcdf5 9%, #5fcdf5, #5fcdf5 32%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0));
  // background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9%, #5fcdf5 9%, #5fcdf5, #5fcdf5 32%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9%, #31F3C7 9%, #31F3C7, #31F3C7 32%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0));

}



.cta {
  font-family: Apercu-Bold;
  font-size: 34px;
  line-height: 40px;
  display: inline;
  text-decoration: none;
  color: rgba(0,0,0,0.88);
  -webkit-transition: all .3s;
  transition: all .3s;
  background-size: 100%;
  // background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9%, #5fcdf5 9%, #5fcdf5, #5fcdf5 32%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0));
  // background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9%, #5fcdf5 9%, #5fcdf5, #5fcdf5 32%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 9%, #31F3C7 9%, #31F3C7, #31F3C7 32%, rgba(0, 0, 0, 0) 32%, rgba(0, 0, 0, 0));

}
